
.navbar{
	border-radius: 0;
	margin-bottom: 0;
	box-shadow: 0px 4px 6px #888888;
	z-index: 1000;
	a{
		color: set-text-color($main-color) !important;
	}
	.fa{
		font-size: 18px;
	}
	.navbar-brand{
		img{
			width: 125px
		}
	}
	.custom-logo-link{
		float: left;
		padding: 15px 15px;
		font-size: 18px;
		line-height: 20px;
		height: 50px;
		.custom-logo{
			width: 125px ;
			height: auto;
		}

	}
	.navbar-nav{
		li>a{
			border-bottom: 2px solid transparent;
			&:hover{
				border-bottom: 2px solid set-text-color($main-color);
			}
			&:focus{
				border-bottom: 2px solid set-text-color($main-color);
			}
		}
		.active{
			a{
				border-bottom: 2px solid set-text-color($main-color);
				background: $main-color; /* For browsers that do not support gradients */
			    background: -webkit-linear-gradient(transparent, #12715F); /* For Safari 5.1 to 6.0 */
			    background: -o-linear-gradient(transparent, #12715F); /* For Opera 11.1 to 12.0 */
			    background: -moz-linear-gradient(transparent, #12715F); /* For Firefox 3.6 to 15 */
			    background: linear-gradient(transparent, #12715F); /* Standard syntax */
			}

		}
	}
	
}
.navbar-right{
	margin-right: 1px;
}
.navbar-toggle {
    border-color: transparent !important;
    &:hover,
    &:focus {
      background-color: $second-color !important;
    }
    .icon-bar {
      background-color: $white-color !important;
    }
  }
.showcase{
	background: url(../img/bg.jpg) no-repeat 0 -100px;
	height: 600px;
	padding: 30px 0;
	h1{
		font-size: 60px;
	}
	.container{
		background: white;
		opacity: .8;
		padding:20px 30px 30px 30px;
	}
}
.carousel{
	.carousel-indicators{
		li{
			margin: 0 ;
			border-color: $white-color;
			background: $white-color;
			width: 40px;
			height: 5px;
			border-radius:2px;
			&:hover{
				background: $main-color;
				border-color: $main-color;
				//width: 40px;
			height: 5px;
			}
		}
		.active{

			background: $main-color;
			border-color: $main-color;
			//width: 40px;
			height: 5px;
		}
	}
}
.section-donate{
	background-image: url("../img/Ovalados.jpg");
	background-size: cover ;
	.form-control{
		padding: 30px 16px;
		background-color: $gray-lighter;
	}
	h1{
		text:{
			align: center;
			transform: uppercase;
		}
		margin-top:2em;
		font-size: 1.3em;
		color: $main-color;
		font-weight: 500;
		letter-spacing: 2px;
	}
	.checkbox{
		margin-bottom: 30px !important;
	}
	.btn-primary{

		background: $second-color;
		box-shadow: 0px 4px 16px #34495e;
		//border-radius:0;
		border-color: transparent;
		margin:{
			right: 10px;
			left: 10px;
			bottom: 2em;
		};
		&:hover{
			box-shadow: none;
			background-color: darken($second-color, 10%);
		}
	}
	h2{
		margin-top:4em;
		margin-bottom:3em;
		font-size: 1.3em;
		text:{
			align: center;
			transform: uppercase;
		};
		color: $main-color;
		font-weight: 500;
		letter-spacing: 2px;
	}
	p{
		text:{
			align: center;
		};
		//color: $gray;
		font-weight: 500;
		letter-spacing: 2px;
		margin-bottom: 1.5em;
		padding: 10px 10px !important;
	}
}
.section-notices{
	h2{
		text:{
			align: center;
			transform: uppercase;
		};
		color: $main-color;
		font-weight: 500;
		letter-spacing: 2px;
	}
	h1{
		text:{
			align: center;
			transform: uppercase;
		}
		margin-top:1.5em;
		font-size: 2em;
		color: $main-color;
		font-weight: 500;
		letter-spacing: 2px;
	}
	p{
		text:{
			align: center;
		};
		//color: $gray;
		font-weight: 500;
		letter-spacing: 2px;
		margin-bottom: 1.5em;
	}
	.page{
		border-bottom: 2px solid $main-color;
	}
	.list{
		ul{
			list-style: none;
			display: block;
			margin: 2em 0;
			li{
				padding-bottom: 2em;

				img{
					max-width: 50px;
					display: inline-block;
					vertical-align: top !important;
					margin-right: 1em;
				}
				p{
					max-width: 70%;
					display: inline-block;
					text:{
						//align: left !important;
					}
				}
			}
		}
	}
	.thumbnail {
	    //margin-bottom: 20px;
		//border: none;
		padding: 0;
		background-color: #ecf0f1;
		border-radius: 0 0 0px 0px;
		border-color: $gray-light!important;
	    p{
	    	text:{
	    		align: left;
	    	}
	    	font-size: 1em;
	    	margin-left:0;
	    	padding:10px 6px;
	    }
	    figure{
	    	position: relative;
		    .caption {
		    	background: rgba(#34495e, .5) !important;
		        position: absolute;
		        top: 0px;
		        bottom: 0px;
		        width: 100%;
		        //padding: 0px !important;
		        color: set-text-color($main-color) !important;
		    }
		    p{
		    	font-size: 1.5em;
		    	margin-left:0;
		    	padding:10px;
		    }
	    }
		.btn-default{
			color: $main-color !important;
			background-color: $body-bg !important;
			//box-shadow: 0px 4px 8px $gray;
			width:40px;
			height:40px;
			line-height: 32px;
			padding: 6px 9px !important;
			i{
				font-size: 24px;
			}
			&:hover{
				color: $gray !important;
	 			background-color: $gray-lighter !important;
 			}
		}
	    .caption{
			background-color: $gray-lighter !important;
			box-shadow: 0px 4px 6px #888888 !important;
			
			.btn-primary{
				margin-top: .2em;
				color: $body-bg !important;
				//background-color: $white-color !important;
				//box-shadow: 0px 4px 8px $gray;
				&:hover{
					border-color: transparent;
					//color: $gray !important;
		 			//background-color: $gray-lighter !important;
	 			}
			}
	    }
	    .comments{
			//background-color: $gray-lighter !important;
			padding:10px 6px;
			box-shadow: 0px 4px 10px #888888 !important;
		}
		.btn-primary{
			border-color: transparent !important;
		}
		.btn-sm{
			border-radius: 5px !important ;
			box-shadow: 0px 2px 8px #888888 !important;

		}
	    h3{
	    	//font-size: 2em;
	    	//background: rgba(53, 74, 95, 0.83);
	    	margin: 0;
			padding: 15px;
			color: $main-color;
			box-shadow: 0px 2px 8px #888888 !important;		
		
	    }
	    h1{
	    	font-size: 2em;
	    	//background: rgba(53, 74, 95, 0.83);
	    	padding:10px 6px;
	    }


		img {
		    width: 100%;
	    	//box-shadow: 0px 4px 6px #888888 !important;
		}
		a{
			//color: black;
		}

	}

	
}
.section-services{
	h2{
		text-align: center;
		text-transform: uppercase;
		color: $main-color;
		font-weight: 500;
		letter-spacing: 2px;
	}
	.thumbnail {
        //display:inline-block;
        position: relative;
	    padding: 0 0 0 0 !important;
	    margin-bottom: 20px;
		border-radius: 0 0 4px 4px !important;
		box-shadow: 0px 2px 4px #888888 !important;	
		img {
		    width: 100%;
		}
	    h3{
	    	margin: .5em;			
			font-size: 1.5em;
	    }
	    p{
			margin: 1em;
			//text-align: center;
		}
		a{
			margin: 0 auto !important;
		}

    }
	.section-cap{	
		@include service($cap-color);
	}
	.section-consult{
		@include service($consult-color);

	}
	.section-asesory{
		@include service($ase-color);
	}
	.section-camping{
		@include service($camping-color);
	}
	.section-purple{
		@include service($second-color);
	}
}


.about {
	background-image: url(./assets/img/bg_right.png),
	url(./assets/img/bg_left.png);
	//linear-gradient(to right, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0));
	background-position: right top, left top;
	background-repeat: no-repeat;
	margin-bottom: 2em;
	img{
		margin: 0 auto;
		max-height: 20em;
	}
	h1{
		text-align: center;
		text-transform: uppercase;
		color: $main-color;
		font-size: 5em;
		margin-top: .7em;
	}
	h2{
		color: $gray;
		text-align: left;
		text-transform: uppercase;
		margin-top: 1em;
		margin-bottom: 1em;
	}
	h4{
		margin: 2em 0;
	}
	p{

		font-weight: bold;
		color: $gray;
	}
	.v-align{
		margin-top: 6em;
	}
	a{
		color: $gray;
		font-size: 1em;
		font-weight: bold;
	}
	i{
		display: block;
		text-align: center !important;
		&:hover{
			text-decoration: none !important;
		}
	}
	[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
		font-weight: 100 !important;
		color: $second-color;
		font-family: Flaticon;
		font-size: 8em;
		font-style: normal;
		margin-left: 0px;
	}
	.title{
		vertical-align: text-bottom;
		display:inline-block;
		margin-left: 1em;
	}
}

.sub-nav{
	position: absolute;
	left: 0;
	right: 0;
	background-color: rgba($main-color, .5);
	text-align: center;
	height: 4em;
	z-index: 9999;
	li{
		display: inline-block;
		height: 4em;

		a{
			color: #F5F5F5;
			font-size: 1.2em;
			height: 100%;
			display: block;
			line-height: 3.5em;
			padding: 0 5px;
			&:hover{
				background-color: $main-color;
				text-decoration: none;
			}
			
		}
	}
}

footer{
	//padding-top: 50px !img-responsive;
	.social-list{
		h3{
			color: white;
		}
		.btn-link{
			//color: white !important;
			background-color: white !important;
			//padding: 0;

			&:hover{
				color: $second-color !important;
	 			background-color: $gray-lighter !important;
 			}
		}
	}

	h3{
		font-weight: 400
	}
	padding:50px 0;
	background: $second-color;
	color: set-text-color($main-color) !important;
	.input-group{
		.form-control{
			box-shadow: inset 0 2px 7px #663399;
			background: $second-color;
			padding: 25px 16px;
			color: set-text-color($main-color) !important;
			border-radius: 10px;
			border-color: #663399;
			font-size: 30px;
			font-weight: 200;
		}
		.btn{
			//box-shadow: inset 0 4px 6px black;
			border-radius:10px;
			border-color: #663399;
		}
		.btn-default{
			background: $second-color;
			//padding: 11px 16px;
			color: set-text-color($main-color) !important;
			font-size: 31px;
			border-left: transparent;
			padding: 3px 8px;
			//border-radius-top: 50% !important;
			&:hover{
				color: set-text-color($main-color) !important;
	 			background-color: darken($second-color, 10%);
	        	//border-color: darken($border, 12%);
			}
			i{
				color:$gray-light;
			}
			[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
				font-family: Flaticon;
				font-size: 31px;
				font-style: normal;
				margin-left: 0px;
			}
		}

	}
	.fa{
			font-size: 1.5em;
		}
	.info{
		list-style: none;
		padding: 0;
		li{
			margin-bottom: 10px
		}
		a{
			color: set-text-color($main-color) !important;
			font-size: 1.2em;
			i{
				text-align: center;
				width: 1.5em;
				margin-right: 2em;
				display: inline-block;
			}
			[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
			[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
			       font-size: 27px !important;
			}
			span{
				display: inline-block;
			}
			&:hover{
				color: $main-color !important;
			}
		}
	}
	.social{
		list-style: none;
		padding: 0;
		li{
			display: inline;
			//margin-right: 10px;
		}
		a{
			color: set-text-color($main-color) !important;
			font-size: 1.5em;
			i{
				text-align: center;
				width: 1.5em;
				margin-right: 2em;
				display: inline-block;
			}
			[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
			[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
			       font-size: 40px !important;
			}
			span{
				display: inline-block;
			}
			&:hover{
				color: $main-color !important;
			}
		}
	}
}


//btn
.btn-tanuxil{
	background: $main-color;
	box-shadow: 0px 4px 16px #34495e;
	color: white;
	border-color: transparent;
	margin:{
		right: 10px;
		left:  10px;
		top:   10px;
	};
	&:hover{
		box-shadow: none;
		background-color: darken($main-color, 10%);
		border-color: $main-color;
		color: white;
	}
	&:active{
		box-shadow: none;
		background-color: $main-color;
		border-color: $main-color;
		color: white;
	}
	&:focus{
		color: white;
		box-shadow: none;
		background-color: $main-color;
		border-color: $main-color;
	}
}
.btn-purple{
	background: $second-color;
	box-shadow: 0px 4px 16px #34495e;
	color: white;
	border-color: lighten($second-color, 10%);
	margin:{
		right: 10px;
		left:  10px;
		top:   10px;
	};
	&:hover{
		box-shadow: none;
		background-color: darken($second-color, 10%);
		border-color: $second-color;
		color: white;
	}
	&:active{
		box-shadow: none;
		background-color: $second-color;
		border-color: $second-color;
		color: white;
	}
	&:focus{
		color: white;
		box-shadow: none;
		background-color: $second-color;
		border-color: $second-color;
	}
}
.btn-circle{
	border-radius: 50%;
}

.text-capitalize{
	text-transform: capitalize !important;
}
//utilities
.divider{
	display: block;
	box-shadow: 0 2px 5px black;
	border-bottom: 1px solid $gray-light;
	height: 1px;
	margin-bottom: 1em;
}
.absolute{
	position: absolute;
}
.relative{
	position: relative;
}
.col-margin-bottom-2{
	margin-bottom: 2em;
}
.col-margin-top-2{
	margin-bottom: 2em !important;
}
.text-white{
	color: $white-color !important;
}
.text-main-color{
	color: $main-color !important;
}
.text-second-color{
	color: $second-color !important;
}
.border-second-color{
	margin-bottom: 2em;
	border-bottom: 2px solid $second-color !important;
}

.page-title-content{
	margin-bottom: 2em;
}
.bg-second-color{
	background-color: rgba($second-color, 0.4);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.bg-gray-color{
	background-color: rgba($gray, 0.5) !important;
	padding: 1em;
}

.margin-top-sub-nav{
	margin-top: 3em;
}

.text-underline{
	text-decoration: underline;
}

//nuevos
.section-call{
	background: $main-color;
	position: relative;
	text-align: center;
	margin-top: 3em;
	margin-bottom: 2em;
	img{
		position: absolute;
		top: -58px;
		z-index: 99999999;
		left: 155px;
		height: 180px;
	}
	h3{
		color:white;
		margin-top: 1em;
		margin-bottom: 1.1em;
	}
	
	[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
	[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
		font-size: 30px !important;
	}
	
	i{
		color: $white-color;
		vertical-align: middle;
	}
	a{
		color:white;
		//margin-left: 40px;
		margin-right: 40px;
		&:hover{
			text-decoration: none;
			color: $second-color;
		}
	}
}

.section-opinions{
	h2{
		padding-top:1em;
		text:{
			padding: 5px;
			align: center;
			//transform: uppercase;
		};
		color: $main-color;
		font-weight: 500;
		letter-spacing: 2px;
		margin-bottom: 2em;
	}
	.opinion{
		margin-bottom: 2em;
		img{
			border-radius: 50px;
			width: 100px;
			height: 100px;
			border: 4px solid $main-color;
		}
		.opinion-box-right{
			border: 4px solid lighten($main-color, 40%);
			border-radius: 5px;
			height: 100px;
			p{
				background: lighten($main-color, 50%);
				padding: 10px;
				position: relative;
				border-radius: 5px;
				bottom: 15px;
				left: 10px;
				opacity: .7;
				height: 100px;
			}
		}
		.opinion-box-left{
			border: 4px solid lighten($main-color, 40%);
			border-radius: 5px;
			height: 100px;
			p{
				background: lighten($main-color, 50%);
				padding: 10px;
				position: relative;
				border-radius: 5px;
				top: 6px;
				right: 10px;
				opacity: .7;
				height: 100px;
			}
		}
	}

}

//wp
.wpcf7-list-item{
	display: block !important;
}

.entry-meta{
	padding: 5px 1em;
	//position: absolute;
	//left: 0;
	//right: 0;
	background-color: rgba($white-color, .7)
}

//links
.single-post-nav {
	//width: 100%;
	margin-top: 1em;
	//border-top: 3px solid #45A3D6;
	//background: #fff;
}

.single-post-nav a {
	text-decoration: none;
}

.single-post-nav > div {
	//width: 50%;
	//float: left;
	padding: 30px 50px;
	text-align: right;
}

.single-post-nav > div:first-child {
	//border-right: 3px solid #45A3D6;
	text-align: left;
}

.single-post-nav > div h4 {
	display: inline-block;
	margin: 0;
}

.single-post-nav > div:nth-of-type(1) img {
	float: left;
	margin-right: 16px;
}

.single-post-nav > div:nth-of-type(2) img {
	float: right;
	margin-left: 16px;
}